<div>
  <p style="color: green"><%= notice %></p>

  <h1>Posts</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post %>
      </p>
    <% end %>
  </div>
  <div class="inline-block my-3">
    <%= link_to "New post", new_post_path, class: "px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600" %>
  </div>
</div>
