<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Back to posts", posts_path, class: "px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600" %>
</div>
