<div class="bg-gray-200 py-4">
    <div class="flex justify-between mx-5">
        <div>
            <span>YouTube Vids</span>
        </div>
        <div>
        <ul>
            <li>Home</li>
        </ul>
        </div>
    </div>
</div>